[Desktop Entry]
Name=Canaima apure bienvenido
Name[es_VE]=Canaima apure  bienvenido
GenericName=Canaima apure bienvenido
GenericName[es_VE]=Canaima apure bienvenido
Comment=Canaima apure bienvenido
Comment[es_VE]=Canaima apure bienvenido
Exec=canaima-bienvenido-gnome
Type=Application
Icon=/usr/share/icons/Gnamon/places/scalable/canaima-logo.svg
Categories=GNOME;GTK;Utility;
X-GNOME-FullName=Canaima apure bienvenido
X-GNOME-FullName[es]=Canaima apure bienvenido
